@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    outline: 0;
}
html::-webkit-scrollbar{
    width: 5px;
}
html::-webkit-scrollbar-thumb{
    background-color: #ccc;
    border-radius: 10px;
}
html::-webkit-scrollbar-track{
    background-color: white;
}
html, body{
    background-color: #faf9fc;
}
body{
    display: flex;
}

/* SIDEBAR */

.sidebar{
    background: linear-gradient(180deg, rgba(45,48,53,1) 0%, rgba(31,31,32,1) 56%, rgba(15,15,15,1) 100%);
    width: 300px;
    min-height: 100vh;
    position: relative;
}
.content-sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.topo{
    background-color: #26282d;
    padding: 20px 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topo h3{
    color: white;
}
.topo a{
    color: #717171;
    text-decoration: none;
    transition: 0.6s;
}
.topo a:hover{
    color: #6d3888;
}
.menu{
    padding: 30px;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    margin-bottom: 20px;
    color: #717171;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 5px 0;
    border-bottom: 1px solid #717171;
}
.menu ul li a{
    text-decoration: none;
    transition: 0.6s;
    font-size: 19px;
    width: 100%;
    display: block;
    color: #717171;
    position: relative;
}
.menu ul li a span{
    transition: 0.6s;
}
.menu ul li i{
    transition: 0.6s;
}
.menu ul li i:last-child{
    position: absolute;
    right: 0;
    bottom: 0;
}
.menu ul li:hover a i{
    color: #6d3888;
}
.menu ul li:hover a span{
    color: #fff;
}
.menu ul li:hover{
    border-color: #fff;
}
.social-media{
    text-align: center;
    padding: 20px 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    position: relative;
    bottom: 50px;
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}
.social-media a{
    color: #717171;
    font-size: 20px;
    transition: 0.6s;
}
.social-media a:hover{
    color: #6d3888;
}

/* MAIN CONTENT */

.main-content{
    width: calc(100% - 300px);
    height: 100%;
}
.main-content header{
    background-color: #fff;
    padding: 20px 15px;
    border-bottom: 2px solid #ccc;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    position: relative;
}
.container-main{
    display: flex;
}
.icon-pesquisa{
    background-color: #d6d6d6;
    padding: 8px;
    color: white;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.6s;
    position: relative;
    z-index: 2;
}
.icon-pesquisa:hover{
    background-color: #bbb;
}
.icon-pesquisa.active{
    background-color: #bbb;
}
.pesquisa-campo form{
    display: inline-block;
}
.pesquisa-campo input[type=text]{
    width: 0;
    transition: all 0.6s ease-in-out;
    visibility: hidden;
    border-radius: 20px;
    border: 1px solid #ccc;
    border-left: 0;
    font-size: 16px;
    margin-left: -30px;
    height: 33px;
}
.pesquisa-campo input[type=text].active{
    width: 200px;
    padding-left: 35px;
    visibility: visible;
    z-index: 1;
    position: relative;
}
.pesquisa-campo input[type=text]:focus{
    border-color: #bbb;
}
.icon-alert{
    background-color: #d6d6d6;
    padding: 8px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.6s;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.icon-alert.notification{
    color: #ed7387;
    background-color: #fbedef;
    border: 1px solid #f8d7dc;
}
.icon-alert:hover{
    background-color: #f8d7dc;
}
.icon-alert span{
    position: absolute;
    left: 3px;
    bottom: -8px;
    font-weight: bold;
    font-size: 15px;
}
.nome-user h2{
    font-weight: normal;
    font-size: 22px;
    color: #a7a7a7;
}

/* CONTENT 1 */

.w50{
    width: 49%!important;
}
.content-1{
    width: 80%;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}
.panel{
    width: 100%;
    background-color: white;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    max-height: 200px;
    overflow-y: scroll;
}
.panel::-webkit-scrollbar{
    width: 3px;
}
.panel::-webkit-scrollbar-thumb{
    background-color: #ccc;
    border-radius: 3px;
}
.panel h2{
    color: #7f7f7f;
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
}
.panel p{
    color: #b2b2b2;
    font-size: 17px;
    margin-top: 10px;
    line-height: 25px;
    text-align: justify;
}

/* ÚLTIMAS ATUALIZAÇÕES */

.last-up{
    width: 20%;
    background-color: #eaebeb;
    padding: 20px;
    overflow-y: scroll;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    height: calc(100vh - 77px);
}
.last-up::-webkit-scrollbar{
    width: 5px;
}
.last-up::-webkit-scrollbar-track{
    background-color: #ddd;
}
.last-up::-webkit-scrollbar-thumb{
    background-color: #bbb;
    border-radius: 3px;
}
.atv-topo h2{
    color: #7f7f7f;
    font-size: 23px;
    padding: 15px;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
}
.atv-reg{
    padding: 15px 10px;
    border-left: 1px solid #bbb;
}
.atv-reg h2{
    color: #bbb;
    font-size: 19px;
    font-weight: normal;
}
.atv-reg p{
    color: #b2b2b2;
    font-size: 15px;
}
