@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    outline: 0;
}
html::-webkit-scrollbar{
    width: 5px;
}
html::-webkit-scrollbar-thumb{
    background-color: #ccc;
    border-radius: 10px;
}
html::-webkit-scrollbar-track{
    background-color: white;
}
html, body{
    background-color: #faf9fc;
}
body{
    display: flex;
}

/* SIDEBAR */

.sidebar{
    background: linear-gradient(180deg, rgba(45,48,53,1) 0%, rgba(31,31,32,1) 56%, rgba(15,15,15,1) 100%);
    width: 20%;
    max-width: 300px;
    min-height: 100vh;
    position: relative;
}
.content-sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.topo{
    background-color: #26282d;
    padding: 20px 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
}
.topo h3{
    color: white;
}
.topo a{
    color: #717171;
    text-decoration: none;
    transition: 0.6s;
    font-size: 20px;
}
.topo a:hover{
    color: #6d3888;
}
.menu{
    padding: 30px;
    overflow-y: auto;
    margin-bottom: 60px;
}
.menu::-webkit-scrollbar{
    width: 0;
}
.menu ul{
    list-style: none;
    max-height: calc(100vh - 420px);
}
.menu ul li{
    margin-bottom: 20px;
    color: #717171;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 5px 0;
    border-bottom: 1px solid #717171;
}
.menu ul li a{
    text-decoration: none;
    transition: 0.6s;
    font-size: 19px;
    width: 100%;
    display: block;
    color: #717171;
    position: relative;
}
.menu ul li a span{
    transition: 0.6s;
}
.menu ul li i{
    transition: 0.6s;
}
.menu ul li i:last-child{
    position: absolute;
    right: 0;
    bottom: 0;
}
.menu ul li:hover a i{
    color: #6d3888;
}
.menu ul li:hover a span{
    color: #fff;
}
.menu ul li:hover{
    border-color: #fff;
}
.social-media{
    text-align: center;
    padding: 20px 10px;
    box-shadow: 0 -5px 50px rgba(255, 255, 255, 0.05);
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}
.social-media a{
    color: #717171;
    font-size: 20px;
    transition: 0.6s;
}
.social-media a:hover{
    color: #6d3888;
}

/* MAIN CONTENT */

.main-content{
    width: calc(100% - 300px);
    height: 100%;
}
.main-content header{
    background-color: #fff;
    padding: 20px 15px;
    border-bottom: 2px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.icon-container{
    display: flex;
    gap: 10px;
}
.container-main{
    display: flex;
}
.icon-pesquisa{
    background-color: #d6d6d6;
    padding: 8px;
    color: white;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.6s;
    position: relative;
    z-index: 2;
}
.icon-pesquisa:hover{
    background-color: #bbb;
}
.icon-pesquisa.active{
    background-color: #bbb;
}
.pesquisa-campo form{
    display: inline-block;
}
.pesquisa-campo input[type=text]{
    width: 0;
    transition: all 0.6s ease-in-out;
    visibility: hidden;
    border-radius: 20px;
    border: 1px solid #ccc;
    border-left: 0;
    font-size: 16px;
    margin-left: -30px;
    height: 33px;
}
.pesquisa-campo input[type=text].active{
    width: 150px;
    padding-left: 35px;
    visibility: visible;
    z-index: 1;
    position: relative;
}
.pesquisa-campo input[type=text]:focus{
    border-color: #bbb;
}
.icon-alert{
    background-color: #d6d6d6;
    padding: 8px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.6s;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.icon-alert.notification{
    color: #ed7387;
    background-color: #fbedef;
    border: 1px solid #f8d7dc;
}
.icon-alert:hover{
    background-color: #f8d7dc;
}
.icon-alert span{
    position: absolute;
    left: 3px;
    bottom: -8px;
    font-weight: bold;
    font-size: 15px;
}
.notification-box{
    position: absolute;
    right: 100px;
    z-index: 999;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #fff;
    overflow-y: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    transition: 0.6s;
    width: 0;
    height: 0;
    visibility: hidden;
}
.notification-box *{
    display: none;
}
.notification-on{
    padding: 20px 30px;
    visibility: visible;
    width: 400px;
    height: 400px;
}
.notification-on *{
    display: block;
}
.notification-box-single{
    position: relative;
    margin-bottom: 10px;
}
.notification-box-single span{
    position: absolute;
    left: -60px;
    top: 40px;
    color: #ed7387;
    font-size: 15px;
    transform: rotate(-90deg);
}
.notification-box-single span i{
    color: #ed7387;
}
.notification-single{
    border-left: 2px solid #ccc;
    padding: 0 2%;
}
.notification-single h2{
    font-size: 20px;
    font-weight: normal;
    color: #717171;
}
.notification-single p{
    color: #aaa;
    font-style: 18px;
}
.nome-user{
    display: none;
}

.notification-box::-webkit-scrollbar{
    width: 5px;
}
.notification-box::-webkit-scrollbar-thumb{
    background-color: #ccc;
    border-radius: 10px;
}
.notification-box::-webkit-scrollbar-track{
    background-color: white;
}
.nome-user h2{
    font-weight: normal;
    font-size: 23px;
    color: #a7a7a7;
    cursor: pointer;
}
.title{
    font-weight: normal;
    font-size: 18px;
    color: #a7a7a7;
}

/* CONTENT 1 */

.w50{
    width: 49%!important;
}
.content-1{
    width: 80%;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: space-between;
    height: calc(100vh - 77px);
    gap: 15px;
}

.content-1::-webkit-scrollbar{
    width: 5px;
}
.content-1::-webkit-scrollbar-track{
    background-color: #ddd;
}
.content-1::-webkit-scrollbar-thumb{
    background-color: #bbb;
    border-radius: 3px;
}
.panel{
    width: 100%;
    background-color: white;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    max-height: 200px;
    overflow-y: auto;
}
.panel::-webkit-scrollbar{
    width: 3px;
}
.panel::-webkit-scrollbar-thumb{
    background-color: #ccc;
    border-radius: 3px;
}
.panel h2{
    color: #7f7f7f;
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
}
.panel p{
    color: #b2b2b2;
    font-size: 17px;
    margin-top: 10px;
    line-height: 25px;
    text-align: justify;
}

/* ÚLTIMAS ATUALIZAÇÕES */

.last-up{
    width: 20%;
    background-color: #eaebeb;
    padding: 20px;
    overflow-y: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    height: calc(100vh - 77px);
}
.last-up::-webkit-scrollbar{
    width: 5px;
}
.last-up::-webkit-scrollbar-track{
    background-color: #ddd;
}
.last-up::-webkit-scrollbar-thumb{
    background-color: #bbb;
    border-radius: 3px;
}
.atv-topo h2{
    color: #7f7f7f;
    font-size: 23px;
    padding: 15px;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
.atv-reg{
    padding: 15px 20px;
    border-left: 1px solid #bbb;
    position: relative;
    border-bottom: 1px solid #ccc;
}
.atv-reg:nth-of-type(2){
    border-top: 1px solid #ccc;
}
.atv-reg h2{
    color: #bbb;
    font-size: 19px;
    font-weight: normal;
}
.atv-reg p{
    color: #b2b2b2;
    font-size: 15px;
}
.circle-atv{
    position: absolute;
    left: -12px;
    top: -12px;
    background-color: #eaebeb;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 1px solid #ccc;
}
.atv-reg:last-child .circle-atv:last-child{
    top: auto;
    bottom: -12px;
}

/* RESPONSIVO */

@media (max-width: 1200px){
    .last-up{
        display: none;
    }
    .content-1{
        width: 100%;
    }
    .w50{
        width: 100%!important;
    }
    .sidebar{
        width: 0;
        transition: 0.6s;
        overflow: hidden;
    }
    .sidebar .content-sidebar{
        align-items: center;
    }
    .topo{
        justify-content: center;
        width: 100%;
    }
    .sidebar-on{
        overflow: hidden;
        width: 100px;
        visibility: visible;
    }
    .topo h3{
        display: none;
    }
    .menu ul li{
        border: 0;
    }
    .menu ul li i:last-child{
        display: none;
    }
    .menu ul li a span{
        display: none;
    }
    .social-media{
        width: 100%;
        padding: 20px;
    }
    .main-content{
        width: 100%;
    }
    .nome-user{
        display: block;
    }
    .title{
        display: none;
    }
}